
		.select-address .aui-bar{
			background:#4877e7;
			height:45px;
		}
		.select-address .aui-list {
			margin-top:15px; 
		}
		.select-address .aui-list li{
			height:62.5px;
		}
		.select-address .aui-list li:nth-of-type(1) p{
			font-size: 14px;
			color: #b0b7c1;
		}
		.select-address .aui-list-item-arrow:before{
			width:8px;
			height:8px;
			border-color:#abb4bc;
		}
		.select-address .aui-list .aui-list-item-title{
			font-size: 15px;
			color:#2f2f2f;
		}
		.select-address .aui-list-item-right p{
           font-size: 14px;
            line-height: 625px;
        }