.yz-password1 .aui-bar,.yz-password2 .aui-bar{
	background:#4877e7;
}
.yz-password1 input{
	width:100%;
	background: #fff;
	padding-left: 13px;
	margin-top: 13px;
	height:45px;
} 
.yz-password1 .aui-content,.yz-password2 .aui-content{
	padding: 0 13px;
}
.yz-password1 .aui-content .aui-btn,.yz-password2 .aui-content .aui-btn{
	padding: 0 13px;
	background: #cad3f9;
	color:#fff;
	font-size: 18px;
	height:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 64px;
}
.yz-password2 .forms{
	margin-top: 13px;
	position: relative;
}
.yz-password2 .forms p{
	position:absolute;
	right:13px;
	top:2.8rem;
	font-size: 15px;
	color:#4877e7;
}
.yz-password2 .forms input{
	width:100%;
	background: #fff;
	padding-left: 13px;
	height:45px;
}